.container {
  background: url("./assets/images/bg-mobile.svg") hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .container {
    background-image: "./assets/images/bg-desktop.svg";
  }
}
