html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.container-fluid {
  background: url("./assets/images/bg-mobile.svg") hsl(257, 40%, 49%);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .container-fluid {
    background: url("./assets/images/bg-desktop.svg") hsl(257, 40%, 49%);
  }
}
